*{
  margin: 0;
  padding: 0;
}

body{
  background: #4A4A4A;
}


.title-header{
  border: 0.3vw solid red;
  position: absolute;
  z-index: 1;
}

.canvas{
  background-color: #222324;
  border: 0.3vw solid #222324;
  margin: 1vw;
  margin-top: 5vw;
  height: 45vw;
  border-radius: 0.7vw;
}

.upload_file{
  width: 60px;
  height: 20px;
  padding: 5 5 5 5;
  background-image: linear-gradient(to bottom,#3337ab7 0,#265a88 100%);
}
