*{
  margin: 0;
  padding: 0;
}


.tesa-header{
  position: absolute;
  color: white;
  margin-left: 33.7vw;
  margin-top: 1vw;
  font-size: 1.2vw;
}

@media screen and (max-width:500px) {
  .tesa-header{
    position: absolute;
    color: white;
    margin-left: 10.8vw;
    margin-top: 1.8vw;
    font-size: 3vw;
  }
}

.logo-header img{
  position: absolute;
  width: 11vw;
  height: 10vw;
  margin-left: 43.3vw;
  margin-top: 8vw;
}

@media screen and (max-width:500px) {
  .logo-header img{
    position: absolute;
    width: 21vw;
    height: 20vw;
    margin-left: 38vw;
    margin-top: 14vw;
  }
}

.section--header {
    margin: 0;
}

.section {
    float: left;
    margin: 0 0 15rem 0;
    position: relative;
    display: block;
    width: 100%;
}

body.ready .stars {
    opacity: 1;
    transition: opacity 2750ms 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.stars{
  position: fixed;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
  will-change: transform;
  width: 100vw;
  height: calc(100% + 200px);
}


.nebula {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    width: 785px;
    height: 692px;
    background: url(nebula.png) top right no-repeat;
    background-size: contain;
    opacity: 0.6;
    z-index: -1;
}

.mars {
    width: 100%;
    display: block;
    position: fixed;
    z-index: 0;
}

@media screen and (max-width: 500px) {
  body.ready .mars__planet {
      transition-delay: 0ms;
      transition-duration: 2000ms;
    }
}
body.ready .mars__planet {
    opacity: 1;
    transition: opacity 4000ms 1500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
@media screen and (max-width: 500px){
  .mars__planet {
      width: 1182px;
      height: 781px;
      margin: -20rem 0 0 -59.1rem;
  }
}

.mars__planet {
    background-image: url(mars-planet.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    width: 2250px;
    height: 1450px;
    left: 50%;
    opacity: 100;
    margin: -50rem 0 0 -1120px;
    will-change: transform;


}


.header_name h1{
  position: absolute;
  color: white;
  letter-spacing: 1vw;
  z-index: 2;
  margin-left: 33.5vw;
  margin-top: 23vw;
  font-size: 3vw;
}

@media screen and (max-width: 500px) {
  .header_name h1{
    position: absolute;
    color: white;
    letter-spacing: 3vw;
    z-index: 2;
    margin-left: 15.9vw;
    margin-top: 60vw;
    font-size: 5vw;
  }
}

.timer p{
  color: white;
  letter-spacing: 0.3vw;
  position: absolute;
  z-index: 2;
  margin-left: 42.9vw;
  margin-top:19vw;
  font-size: 1.3vw;
}

@media screen and (max-width: 500px) {
  .timer p{
    color: white;
    letter-spacing: 0.3vw;
    position: absolute;
    z-index: 2;
    margin-left: 31vw;
    margin-top: 50vw;
    font-size: 5vw;
  }
}

.unique_id input {
  position: absolute;
  z-index: 2;
  margin-left: 41vw;
  margin-top: 30vw;
  font-size: 1.3vw;
  border-radius: 5vw;
  border: 0;
  height: 2vw;
  padding-left: 0.6vw;
  outline: 0;
}

@media screen and (max-width: 500px) {
  .unique_id input {
    position: absolute;
    z-index: 2;
    margin-left: 17.8vw;
    margin-top: 75vw;
    font-size: 2.6vw;
    border-radius: 5vw;
    border: 0;
    height: 8vw;
    width: 60vw;
    padding-left: 2vw;
    outline: 0;
  }
}


.check_status img{
  position: absolute;
  z-index: 2;
  border: 0;
  height: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 50vw;
  margin-top: 33vw;
}


@media screen and (max-width: 500px) {
  .check_status img{
    position: absolute;
    z-index: 2;
    border: 0;
    height: 8vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 55vw;
    margin-top: 88vw;
  }
}

.coder img{
  position: absolute;
  z-index: 2;
  margin-left: 75vw;
  margin-top: 3vw;
  height: 15vw;
  width: 20vw;
  opacity: 0.5;
}


.show-buttons{
  position: absolute;
  margin-top: 5vw;
  margin-left: 2vw;
  opacity: 0.6;
}

.button-white1{
  animation: rotation 4s infinite linear;
}

.button-white1 img:hover{
  margin-left: -0.4vw;
  width: 3vw;
  height: 3vw;
}

.button-white2{
  animation: rotation 4s infinite linear;
  margin-top: 1vw;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}

.button-white2 img:hover{
  margin-left: -0.4vw;
  width: 3vw;
  height: 3vw;
}

.button-white3{
  animation: rotation 4s infinite linear;
  margin-top: 1vw;
}

.button-white3 img:hover{
  margin-left: -0.4vw;
  width: 3vw;
  height: 3vw;
}

.button-white4{
  animation: rotation 4s infinite linear;
  margin-top: 1vw;
}

.button-white4 img:hover{
  margin-left: -0.4vw;
  width: 3vw;
  height: 3vw;
}

.button-white5{
  animation: rotation 4s infinite linear;
  margin-top: 1vw;
}

.button-white5 img:hover{
  margin-left: -0.4vw;
  width: 3vw;
  height: 3vw;
}

.button-white6{
  animation: rotation 4s infinite linear;
  margin-top: 1vw;
}

.button-white6 img:hover{
  margin-left: -0.4vw;
  width: 3vw;
  height: 3vw;
}

@media screen and (max-width: 500px) {
  .show-buttons{
    position: absolute;
    margin-top: 70vw;
    margin-left: 2vw;
    opacity: 0.6;
  }
}

.credits {
  position: absolute;
  color: grey;
  font-size: 3vw;
  margin-top: 45vw;
  margin-left: 87vw;
  font-size: 1vw;
}

@media screen and (max-width:500px) {
  .credits {
    position: absolute;
    color: grey;
    font-size: 3vw;
    margin-top: 140vw;
    margin-left: 60vw;
  }
}

/*Registration css*/

.form-template{
  position: absolute;
  opacity: 0.5;
  box-shadow: 5px 5px 5px #17181c;
  margin: 1vw;
  background-color: #222324;
  border: 0;
  border-radius: 0.5vw;
  margin-left: 24vw;
  width: 50vw;
  height: 78vw;
}


.patch-template{
  position: absolute;
  margin: 1vw;
  border-radius: 0.5vw;
  margin-left: 24vw;
  width: 50vw;
  height: 78vw;
}

.header-reg{
  position: absolute;
  z-index: 1;
}

.header-reg h1{
  color: white;
  margin-left: 10vw;
  margin-top: 1vw;
  font-size: 1.5vw;
  letter-spacing: 0.5vw;
}

.name-hint{
  letter-spacing: 0.1vw;
  position: absolute;
  font-size: 1vw;
  color: white;
  margin-top: 8vw;
  margin-left:1.5vw;
}

.name-input input{
  position: absolute;
  background-color: #17181c;
  opacity: 0.3;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 10vw;
  height: 1.5vw;
  padding: 0.4vw;
  width: 94%;
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: 1vw;
  outline: 0;
  border-bottom: 0.1vw solid white;
  font-color: white;
  color: white;
}

.name-input input:focus{
  opacity: 1;
  border-bottom: 0.1vw solid grey;
}

.name-input input::-webkit-input-placeholder{
  font-size: 1vw;
  color: white;
}

.name-input input:focus::-webkit-input-placeholder{
  color: grey;
}


.number-hint{
  letter-spacing: 0.1vw;
  position: absolute;
  font-size: 1vw;
  color: white;
  margin-top: 16vw;
  margin-left:1.5vw;
}

.number-input input{
  position: absolute;
  background-color: #17181c;
  opacity: 0.3;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 18vw;
  height: 1.5vw;
  padding: 0.4vw;
  width: 94%;
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: 1vw;
  outline: 0;
  border-bottom: 0.1vw solid white;
  font-color: white;
  color: white;
}

.number-input input:focus{
  opacity: 1;
  border-bottom: 0.1vw solid grey;
}

.number-input input::-webkit-input-placeholder{
  font-size: 1vw;
  color: white;
}

.number-input input:focus::-webkit-input-placeholder{
  color: grey;
}



/*Email here*/

.email-hint{
  letter-spacing: 0.1vw;
  position: absolute;
  font-size: 1vw;
  color: white;
  margin-top: 24vw;
  margin-left:1.5vw;
}

.email-input input{
  position: absolute;
  background-color: #17181c;
  opacity: 0.3;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 26vw;
  height: 1.5vw;
  padding: 0.4vw;
  width: 94%;
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: 1vw;
  outline: 0;
  border-bottom: 0.1vw solid white;
  font-color: white;
  color: white;
}

.email-input input:focus{
  opacity: 1;
  border-bottom: 0.1vw solid grey;
}

.email-input input::-webkit-input-placeholder{
  font-size: 1vw;
  color: white;
}

.email-input input:focus::-webkit-input-placeholder{
  color: grey;
}


/*End*/

.photo-hint{
  letter-spacing: 0.1vw;
  position: absolute;
  font-size: 1vw;
  color: white;
  margin-top: 32vw;
  margin-left:1.5vw;
}

.pic-upload{
    letter-spacing: 0.1vw;
    position: absolute;
    font-size: 1vw;
    color: white;
    margin-top: 34vw;
    margin-left:1.5vw;
    font-size: 1vw;
}

.pic-upload input::-webkit-file-upload-button{
  border-radius: 5px;
  border: 0;
  outline: 0;
  padding-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 1vw;
  background-color: #4A4A4A;
  color: white;
  font-size: 1vw;
}

#uploader{
  position: absolute;
  margin-top: 0.7vw;
  width: 35vw;
  height: 0.2vw;
}


.year-hint{
  letter-spacing: 0.1vw;
  position: absolute;
  font-size: 1vw;
  color: white;
  margin-top: 40vw;
  margin-left:1.5vw;
}

.year-input input{
  position: absolute;
  background-color: #17181c;
  opacity: 0.3;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 42vw;
  height: 1.5vw;
  padding: 0.4vw;
  width: 94%;
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: 1vw;
  outline: 0;
  border-bottom: 0.1vw solid white;
  font-color: white;
  color: white;
}

.year-input input:focus{
  opacity: 1;
  border-bottom: 0.1vw solid grey;
}

.year-input input::-webkit-input-placeholder{
  font-size: 1vw;
  color: white;
}

.year-input input:focus::-webkit-input-placeholder{
  color: grey;
}

.div-hint{
  letter-spacing: 0.1vw;
  position: absolute;
  font-size: 1vw;
  color: white;
  margin-top: 48vw;
  margin-left:1.5vw;
}

.div-input input{
  position: absolute;
  background-color: #17181c;
  opacity: 0.3;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 50vw;
  height: 1.5vw;
  padding: 0.4vw;
  width: 94%;
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: 1vw;
  outline: 0;
  border-bottom: 0.1vw solid white;
  font-color: white;
  color: white;
}

.div-input input:focus{
  opacity: 1;
  border-bottom: 0.1vw solid grey;
}

.div-input input::-webkit-input-placeholder{
  font-size: 1vw;
  color: white;
}

.div-input input:focus::-webkit-input-placeholder{
  color: grey;
}

.rollNo-hint{
  letter-spacing: 0.1vw;
  position: absolute;
  font-size: 1vw;
  color: white;
  margin-top: 56vw;
  margin-left:1.5vw;
}

.rollNo-input input{
  position: absolute;
  background-color: #17181c;
  opacity: 0.3;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 58vw;
  height: 1.5vw;
  padding: 0.4vw;
  width: 94%;
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: 1vw;
  outline: 0;
  border-bottom: 0.1vw solid white;
  font-color: white;
  color: white;
}

.rollNo-input input:focus{
  opacity: 1;
  border-bottom: 0.1vw solid grey;
}

.rollNo-input input::-webkit-input-placeholder{
  font-size: 1vw;
  color: white;
}

.rollNo-input input:focus::-webkit-input-placeholder{
  color: grey;
}



.events{
  position: absolute;
  background-color: white;
  margin-top:65vw;
  width: 100%;
  border: 0;
  height: 5vw;
  border-radius: 0 0 0.5vw 0.5vw;
}

.events p {
  padding: 1vw;
  margin-left: 20.6vw;
}

.events input{
  margin-left: 8.4vw;
}

.footer-div{
  position: absolute;
  margin-left: 15vw;
  margin-top: 76vw;
  color: grey;
  font-size: 1.3vw;
}

.submit-form button {
  width: 50vw;
  position: absolute;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-top: 71vw;
  border: 0;
  border-radius: 0.5vw;
  background-color: #4A4A4A;
  color: white;
  outline: 0;
  font-size: 1vw;
}


.template-box{
  position: absolute;
  margin: 1vw;
  border: 0.1vw solid #f1f1f1;
  width: 98vw;
  height: 44.6vw;
  border-radius: 0.5vw;
  box-shadow: 0.5vw 0.5vw 0.5vw grey;
}

.profileImage{
  position: absolute;
  width: 40vw;
  height: 42.5vw;
  border: 0;
  border-radius: 0.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 5vw;
}

.profileImage img{
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
  box-shadow: 0.5vw 0.5vw 0.5vw grey;
}

.barcode{
  position: absolute;
}
.barcode img{
  position: absolute;
  margin-left: -10vw;
  margin-top: 20vw;
  transform: rotate(-90deg);
  width: 25vw;
  height: 3vw;
}

.name-holder{
  position: absolute;
  transform: rotate(-90deg);
  width: 44.69vw;
  background-color: #039be5;
  height: 18vw;
  margin-top: 13.31vw;
  margin-left: 66.8vw;
  border-radius: 0 0 0.5vw 0.5vw;
  border: 0;
}

.name-holder h2{
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  position: absolute;
  color: white;
  margin-left: 11vw;
  margin-top: 1vw;
}

.hint-name-field{
  font-size: 1vw;
  position: absolute;
  color: white;
  margin-top: 9vw;
  margin-left: 12.5vw;
  letter-spacing: 0.8vw;
}

.name-field{
  margin-left: -1.5vw;
  text-transform: uppercase;
}

.qrHolder{
  position: absolute;
  width: 10vw;
  height: 10vw;
  margin-left: 56.5vw;
  margin-top: 21.8vw;
}

.messege{
  position: absolute;
  margin-left: 51vw;
  margin-top: 38vw;
  font-weight: bold;
  font-size: 1.5vw;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
}


/*
*
*
*
*
*
*
*
*
*
*
*/


@media screen and (max-width: 500px) {
  .form-template{
    position: absolute;
    opacity: 0.5;
    box-shadow: 5px 5px 5px #17181c;
    margin: 1vw;
    background-color: #222324;
    border: 0;
    border-radius: 0.5vw;
    margin-left: 5vw;
    width: 90vw;
    height: 221vw;
  }


  .patch-template{
    position: absolute;
    margin: 1vw;
    border-radius: 0.5vw;
    margin-left: 5vw;
    width: 90vw;
    height: 221vw;
  }

  .header-reg{
    position: absolute;
    z-index: 1;
  }

  .header-reg h1{
    color: white;
    margin-left: 9vw;
    margin-top: 3vw;
    font-size: 5vw;
    letter-spacing: 0.5vw;
  }

  .name-hint{
    letter-spacing: 0.1vw;
    position: absolute;
    font-size: 2.6vw;
    color: white;
    margin-top: 18vw;
    margin-left:1.5vw;
  }

  .name-input input{
    position: absolute;
    background-color: #17181c;
    opacity: 0.3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 24vw;
    height: 8vw;
    padding: 0.4vw;
    width: 94%;
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: 2.6vw;
    outline: 0;
    border-bottom: 0.1vw solid white;
    font-color: white;
    color: white;
  }

  .name-input input:focus{
    opacity: 1;
    border-bottom: 0.1vw solid grey;
  }

  .name-input input::-webkit-input-placeholder{
    font-size: 2.6vw;
    color: white;
  }

  .name-input input:focus::-webkit-input-placeholder{
    color: grey;
  }

  .number-hint{
    letter-spacing: 0.1vw;
    position: absolute;
    font-size: 2.6vw;
    color: white;
    margin-top: 40vw;
    margin-left:1.5vw;
  }


  .number-input input{
    position: absolute;
    background-color: #17181c;
    opacity: 0.3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 46vw;
    height: 8vw;
    padding: 0.4vw;
    width: 94%;
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: 2.6vw;
    outline: 0;
    border-bottom: 0.1vw solid white;
    font-color: white;
    color: white;
  }

  .number-input input:focus{
    opacity: 1;
    border-bottom: 0.1vw solid grey;
  }

  .number-input input::-webkit-input-placeholder{
    font-size: 2.6vw;
    color: white;
  }

  .number-input input:focus::-webkit-input-placeholder{
    color: grey;
  }


  .email-hint{
    letter-spacing: 0.1vw;
    position: absolute;
    font-size: 2.6vw;
    color: white;
    margin-top: 62vw;
    margin-left:1.5vw;
  }

  .email-input input{
    position: absolute;
    background-color: #17181c;
    opacity: 0.3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 68vw;
    height: 8vw;
    padding: 0.4vw;
    width: 94%;
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: 2.6vw;
    outline: 0;
    border-bottom: 0.1vw solid white;
    font-color: white;
    color: white;
  }

  .email-input input:focus{
    opacity: 1;
    border-bottom: 0.1vw solid grey;
  }

  .email-input input::-webkit-input-placeholder{
    font-size: 2.6vw;
    color: white;
  }

  .email-input input:focus::-webkit-input-placeholder{
    color: grey;
  }


  .photo-hint{
    letter-spacing: 0.1vw;
    position: absolute;
    font-size: 2.6vw;
    color: white;
    margin-top: 84vw;
    margin-left:1.5vw;
  }

  .pic-upload{
      letter-spacing: 0.1vw;
      position: absolute;
      font-size: 2.6vw;
      color: white;
      margin-top: 90vw;
      margin-left:1.5vw;
      font-size: 1vw;
  }

  .pic-upload input::-webkit-file-upload-button{
    border-radius: 5px;
    border: 0;
    outline: 0;
    padding-right: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    background-color: #4A4A4A;
    color: white;
    font-size: 2.6vw;
  }

  #uploader{
    position: absolute;
    margin-top: 0.7vw;
    width: 70vw;
    height: 0.2vw;
  }


    .year-hint{
      letter-spacing: 0.1vw;
      position: absolute;
      font-size: 2.6vw;
      color: white;
      margin-top: 106vw;
      margin-left:1.5vw;
    }

  .year-input input{
    position: absolute;
    background-color: #17181c;
    opacity: 0.3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 112vw;
    height: 8vw;
    padding: 0.4vw;
    width: 94%;
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: 2.6vw;
    outline: 0;
    border-bottom: 0.1vw solid white;
    font-color: white;
    color: white;
  }

  .year-input input:focus{
    opacity: 1;
    border-bottom: 0.1vw solid grey;
  }

  .year-input input::-webkit-input-placeholder{
    font-size: 2.6vw;
    color: white;
  }

  .year-input input:focus::-webkit-input-placeholder{
    color: grey;
  }


    .div-hint{
      letter-spacing: 0.1vw;
      position: absolute;
      font-size: 2.6vw;
      color: white;
      margin-top: 128vw;
      margin-left:1.5vw;
    }


  .div-input input{
    position: absolute;
    background-color: #17181c;
    opacity: 0.3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 134vw;
    height: 8vw;
    padding: 0.4vw;
    width: 94%;
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: 2.6vw;
    outline: 0;
    border-bottom: 0.1vw solid white;
    font-color: white;
    color: white;
  }

  .div-input input:focus{
    opacity: 1;
    border-bottom: 0.1vw solid grey;
  }

  .div-input input::-webkit-input-placeholder{
    font-size: 2.6vw;
    color: white;
  }

  .div-input input:focus::-webkit-input-placeholder{
    color: grey;
  }

  .rollNo-hint{
    letter-spacing: 0.1vw;
    position: absolute;
    font-size: 2.6vw;
    color: white;
    margin-top: 150vw;
    margin-left:1.5vw;
  }

  .rollNo-input input{
    position: absolute;
    background-color: #17181c;
    opacity: 0.3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 156vw;
    height: 8vw;
    padding: 0.4vw;
    width: 94%;
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: 2.6vw;
    outline: 0;
    border-bottom: 0.1vw solid white;
    font-color: white;
    color: white;
  }

  .rollNo-input input:focus{
    opacity: 1;
    border-bottom: 0.1vw solid grey;
  }

  .rollNo-input input::-webkit-input-placeholder{
    font-size: 2.6vw;
    color: white;
  }

  .rollNo-input input:focus::-webkit-input-placeholder{
    color: grey;
  }


  .events{
    position: absolute;
    background-color: white;
    margin-top:172vw;
    width: 100%;
    border: 0;
    height: 22.5vw;
    border-radius: 0 0 0.5vw 0.5vw;
  }

  .events p {
    padding: 1vw;
    margin-left: 35vw;
  }

  .events input{
    margin-top: 1vw;
    margin-left: 1vw;
  }

  .submit-form button {
    width: 100%;
    height: 8vw;
    position: absolute;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-top: 197vw;
    border: 0;
    border-radius: 0.5vw;
    background-color: #4A4A4A;
    color: white;
    outline: 0;
    font-size: 2.6vw;
  }

  .footer-div{
    position: absolute;
    margin-left: 50vw;
    margin-top: 210vw;
    color: grey;
    font-size: 2.6vw;
  }


/*id card*/


  .template-box{
    position: absolute;
    margin: 1vw;
    border: 0.1vw solid #f1f1f1;
    width: 98vw;
    height: 159.5vw;
    border-radius: 0.5vw;
    box-shadow: 0.5vw 0.5vw 0.5vw grey;
  }

  .profileImage{
    position: absolute;
    width: 50vw;
    height: 44vw;
    border: 0;
    border-radius: 0.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 22.6vw;
  }

  .profileImage img{
    width: 100%;
    height: 100%;
    border-radius: 0.5vw;
    box-shadow: 0.5vw 0.5vw 0.5vw grey;
  }

  .barcode{
    position: absolute;
  }
  .barcode img{
    position: absolute;
    margin-left: -10vw;
    margin-top: 20vw;
    width: 25vw;
    height: 3vw;
  }

  .name-holder{
    position: absolute;
    transform: rotate(0deg);
    width: 100%;
    background-color: #039be5;
    height: 30vw;
    margin-top: 130vw;
    margin-left: 0vw;
    border-radius: 0 0 0.5vw 0.5vw;
    border: 0;
  }

  .name-holder h2{
    font-size: 3.6vw;
    letter-spacing: 0.2vw;
    position: absolute;
    color: white;
    margin-left: 25vw;
    margin-top: 1svw;
  }

  .hint-name-field{
    font-size: 2.6vw;
    position: absolute;
    color: white;
    margin-top: 13vw;
    margin-left: 31.2vw;
    letter-spacing: 0.8vw;
  }

  .name-field{
    text-transform: uppercase;
  }

  .qrHolder{
    position: absolute;
    width: 10vw;
    height: 10vw;
    margin-left: 34.54vw;
    margin-top: 72vw;
  }

  .messege{
    position: absolute;
    margin-left: 31vw;
    margin-top: 110vw;
    font-weight: bold;
    font-size: 2.6vw;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
  }
/*end*/
}

.unique-id{
  position: absolute;
  margin-top: 3vw;
  margin-left: 2vw;
  font-size: 1.2vw;
}

@media screen and (max-width:500px) {
  .unique-id{
    font-size: 4vw;
  }
}

.id-tesa-logo img{
  position: absolute;
  margin-top: 9vw;
  margin-left: 58vw;
  width: 8vw;
  height: 7vw;
}


@media screen and (max-width:500px) {
  .id-tesa-logo img{
    position: absolute;
    margin-top: 52vw;
    z-index: 2;
    margin-left: 39.8vw;
    width: 15vw;
    height: 13vw;
  }
}

.all-name-header{
  letter-spacing: 0.3vw;
  position: absolute;
  margin-top: 5vw;
  margin-left: 48vw;
  font-weight: bold;
  font-size: 0.8vw;
}

@media screen and (max-width:500px) {
  .all-name-header{
    width: 50vw;
    background-color: #4A4A4A;
    letter-spacing: 0.3vw;
    color: white;
    position: absolute;
    margin-top: 0vw;
    border: 0;
    border-radius: 0.5vw 0.5vw 0 0;
    margin-left: 22.7vw;
    font-weight: bold;
    font-size: 1.5vw;
  }

  .all-name-header p{
    padding: 1vw;
    margin-left: 2.8vw;
  }
}
